body{
    text-align: center;
    margin: 0px;
}
.menu{
    /* to fix the element in page */
    position: fixed;
    background: white;
    /* to align the element along the page */
    width: 100%;
    margin-top: 0px;
}
.links{
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* pseudo class-to add special style to elements in a class */
/* syntax: selector:pseudo-class{property:value} */
.links:hover{
    font-size: 25px;
    text-decoration: underline;
    text-decoration:solid;
}
a{
    color: crimson;
    text-decoration: none;
    text-shadow: 2px 2px 2px chartreuse;
}
/* to change scrolling style */
html{
    scroll-behavior: smooth;
}
/* for gradient effect on background */
/* for transparency rgba(255,0,0,0) */
#welcome{
background: linear-gradient(aqua,aquamarine);
color: darkblue;
}
.profile{
    margin-top: 50px;
    border-radius: 50%;
}
/* to make bold font weight */
h1{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#name{
    font-size: 45px;
    line-height: 1.2;
    font-family: 'Koulen', cursive;
}
h2{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Zen Loop', cursive;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: auto;
    /* border-radius: 50%; */
}
p{
    font-size: 25px;
}
#writings a{
text-shadow: none;
text-decoration: underline;
}
#writings a:hover{
    color: blue;
}
#contact{
    background-color: #035efc;
    
}
#contact iframe{
    width: 100%;
}
.contact_1 a{
text-shadow: none;
color: white;
}